<app-header></app-header>

<section class="container-fluid border-primary border-right-0 border-left-0 border-top-0 border-bottom border">
  <section class="row">

    <section class="col-5 border-primary border-right border-left-0 border-top-0 border-bottom-0 border">
      <app-side-bar [feedList]="feedListMap" class="col"></app-side-bar>
    </section>

    <section class="col-7">
      <ng-container *ngFor="let feed of feedContentItemsList;let i = index;">
        <app-feed-content-container [feedList]="feed" class="col">
        </app-feed-content-container>
      </ng-container>
    </section>

  </section>
</section>