
<app-ngembededview-component></app-ngembededview-component>

<!-- <app-ngtemplate-component></app-ngtemplate-component> -->



<!-- <section class="container">
  <section class="row">
    <section class="col-4" style="border:1px solid">data</section>
    <section class="col-8" style="border:1px solid">
      <hr>
    </section>
  </section>
</section> -->

<!-- <app-customer>

  <section style="border:1px solid;">
    <div class="my-component-title">
      This is the Component title!
    </div>
  </section>

  <div class="content">
    And here's some awesome content.
  </div>
  <div class="content">
    And here's some awesome content.2
  </div>

</app-customer> -->