<ng-container *ngFor="let feed of feedList.values();let i = index;">
    <section class="col pb-1">
        <section class="list-group">
            <section class="list-group-item d-flex justify-content-between align-items-center">
                <div (click)="select(feed)" class="w-100">
                    <h6 class="text-truncate mb-0" [innerText]="feed.url"></h6>
                </div>
                <div class="w-auto">
                    <button (click)="remove(feed)" type="button" class="border-0 fa fa-close"></button>
                </div>
            </section>
        </section>
    </section>
</ng-container>